<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pofile</title>
</head>
<body>
    <img src="<%= UserData.avata %>" alt="">
    <form action="/profile/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />
        <button class="upload">upload</button>
    </form>
    <h3>Name: <%= UserData.Name + ' ' + UserData.LastName %></h3>
    <h3>Email: <%= UserData.email %></h3>

    <a href="/Home">Home</a>
</body>
</html>